<div class="flex flex-column">
  <span class="text-lg mb-4">Sign in</span>
  <mat-form-field
    ><mat-label>user</mat-label
    ><input type="text" placeholder="username" matInput
  /></mat-form-field>
  <mat-form-field
    ><mat-label>password</mat-label
    ><input type="password" placeholder="password" matInput
  /></mat-form-field>
  <button mat-button mat-raised-button color="accent" (click)="onLogin()">
    <mat-icon>login</mat-icon> Log In
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/sign-up">Still not registered? Do it here! </a>
  </div>
</div>
